<div class="nav-wrapper">
      <span class="site-title">{{ site.title }}</span>
      <a href="#" data-activates="mobile-navbar" class="button-collapse"><i class="mdi mdi-menu white-text"></i></a>
      
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{{ '/' | prepend: site.baseurl }}" class="white-text">
            <i class="mdi mdi-home left teal-text text-lighten-3"></i>Home
        </a></li>
        <li><a href="{{ '/about' | prepend: site.baseurl }}" class="white-text">
            <i class="mdi mdi-account-circle left teal-text text-lighten-3"></i>About
        </a></li>
        <li><a href="{{ '/category' | prepend: site.baseurl }}" class="white-text">
            <i class="mdi mdi-folder-multiple left teal-text text-lighten-3"></i>Category
        </a></li>
		<div class="site-nav-right">
        <div class="social-links">
            {% if site.facebook %}
                <a class="social-link social-link-fb"
                   href="https://facebook.com/{{ site.facebook }}"
                   target="_blank"
                   rel="noopener">{% include facebook.html %}</a>
            {% endif %}
            {% if site.twitter %}
                <a class="social-link social-link-tw"
                   href="https://twitter.com/{{ site.twitter }}"
                   target="_blank"
                   rel="noopener">{% include twitter.html %}</a>
            {% endif %}
        </div>
        {% if site.subscribers %}
            <a class="subscribe-button" href="#subscribe">Search</a>
        {% endif %}
    </div>
      </ul>
      <ul class="side-nav" id="mobile-navbar">
        <li><a href="{{ '/' | prepend: site.baseurl }}" class="waves-effect waves-teal black-text">
            <i class="mdi mdi-home left green-text"></i>Home
        </a></li>
        <li><a href="{{ '/about' | prepend: site.baseurl }}" class="waves-effect waves-teal black-text">
            <i class="mdi mdi-account-circle left blue-text"></i>About
        </a></li>
        <li><a href="{{ '/category' | prepend: site.baseurl }}" class="waves-effect waves-teal black-text">
            <i class="mdi mdi-folder-multiple left yellow-text text-darken-1"></i>Category
        </a></li>
      </ul>
</div>
