<!DOCTYPE html>
<html>
  <!--Jasper Styles'n'Scripts -->
 
  {% include head.html %}

  <body>

    <header class="site-header">
      <nav class="nav-extended {{ site.header-color }}">
        {% include navbar.html %}

        <div class="nav-content">
          <ul class="tabs tabs-transparent">
            <li class="tab"><a class="active" href="#tab-main">main</a></li>
          {% for t in site.data.tabs %}
            <li class="tab {% if t.disabled %}disabled{% endif %}"><a href="#{{ t.id }}">{{ t.name }}</a></li>
          {% endfor %}
          </ul>
      </nav>
    </header>

  {% for t in site.data.tabs %}
    <div id="{{ t.id }}">
      {% include {{ t.fp }} %}
    </div>
  {% endfor %}


          <!--<div id="subscribe" class="subscribe-overlay">
              <a class="subscribe-overlay-close" href="#"></a>
			  <div class="subscribe-overlay-content">
			  {% if site.logo %}
			 	 <img class="subscribe-overlay-logo" src="{{ site.baseurl }}{{ site.logo }}" alt="{{ site.title }}" />
			  {% endif %}
			  <h1 class="subscribe-overlay-title">Subscribe to {{ site.title }}</h1>
			  <p class="subscribe-overlay-description">Stay up to date! Get all the latest &amp; greatest posts delivered straight to your inbox</p>
                  {% include subscribe-form.html placeholder="youremail@example.com" %}
			  </div>
		  </div>-->




    <div class="site-container" id="tab-main"> 
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <!-- scrolltop button -->
    <button class="material-scrolltop waves-effect waves-light hide-on-small-only" type="button"><i class="mdi mdi-arrow-up-bold small white-text"></i></button>

    <!-- jquery -->
    <script type="text/javascript" src="{{ '/lib/jquery-min.js' | prepend: site.baseurl }}"></script>
    <!-- materialize -->
    <script src="{{ '/lib/materialize/js/materialize.min.js' | prepend: site.baseurl }}"></script>
    <!-- Material ScrollTop plugin -->
    <script src="{{ '/lib/material-scrolltop/material-scrolltop.js' | prepend: site.baseurl }}"></script>
    <!-- main -->
    <script src="{{ '/js/init.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/js/main.js' | prepend: site.baseurl }}"></script>
    <!-- google analytics -->
    <script src="{{ '/js/google-analytics.js' | prepend: site.baseurl }}"></script>
  </body>

</html>
