---
layout: default
title: Home
---
<section class="archive">
    <div class="fiadInDown animated github"><a href="http://github.com/xjayleex" target="_blank"><i class="fa fa-github"></i></a></div>
   <div class="fadeInDown animated"><h2>Recent Posts</h2></div>
<div class="fadeInDown animated" style="border-top: 1px solid #333"></div>
{% for post in site.posts limit:5 %}
  <div class="archive-item fadeInDown animated">
      <strong>{{ forloop.index }}</strong>
    <div style="margin-left:20px;">

  <article>
    <a href="{{ post.url | absolute_url }}" title="{{ post.title }}">{{ post.title }}</a>
    <div class="post-date">
      <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%-d %B" }}</time>
    </div>
  </article>
    </div></div>
{% endfor %} 
<div class="fadeInDown animated" style="border-top: 1px solid #333"></div>
</section>



<!--
<h1 class="pageTitle">Recent Posts</h1>
  <ul class="posts noList">
    {% for post in paginator.posts %}
      <li>
        <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
        <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
        <p class="description">{% if post.description %}{{ post.description | strip_html | strip_newlines | truncate: 250 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 250 }}{% endif %}</p>
      </li>
    {% endfor %}
  </ul>
</section> -->
